Source: deja-dup
Section: utils
Priority: optional
Maintainer: Michael Terry <mike@mterry.name>
Homepage: https://launchpad.net/deja-dup
Build-Depends: cdbs,
               debhelper (>= 5),
               pkg-config,
               libglib2.0-dev (>= 2.18),
               libgtk2.0-dev (>= 2.14),
               libgconf2-dev,
               libgnomeui-dev,
               libgnome-keyring-dev,
               libnotify-dev,
               libunique-dev,
               libnautilus-extension-dev,
               gnome-doc-utils (>= 0.3.2),
               librarian-dev,
               rarian-compat,
               gnome-common, # for dailybuilds
               cvs # for dailybuilds
Standards-Version: 3.8.0
Vcs-Bzr: http://bazaar.launchpad.net/~deja-dup-team/deja-dup/trunk

Package: deja-dup
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         duplicity (>= 0.5.03),
         gvfs-fuse
Recommends: python-boto (>= 0.9d), nautilus
Description: Backup utility
 Déjà Dup is a simple backup program. It hides the complexity of
 doing backups the 'right way' (encrypted, off-site, and regular)
 and uses duplicity as the backend.
 .
 Features:
  * Support for local or remote backup locations, including Amazon S3
  * Securely encrypts your data
  * Schedules regular backups
  * Integrates well into your GNOME desktop

Package: deja-dup-dbg
Architecture: any
Depends: deja-dup (= ${binary:Version}),
         ${misc:Depends}
Priority: extra
Description: Déjà Dup debugging symbols
 Déjà Dup is a simple backup program. It hides the complexity of
 doing backups the 'right way' (encrypted, off-site, and regular)
 and uses duplicity as the backend.
 .
 Features:
  * Support for local or remote backup locations, including Amazon S3
  * Securely encrypts your data
  * Schedules regular backups
  * Integrates well into your GNOME desktop
 .
 This package contains gdb debugging symbols for the deja-dup package.
