Source: deja-dup
Section: utils
Priority: optional
Maintainer: Michael Terry <mike@mterry.name>
Build-Depends: cdbs,
               debhelper,
               pkg-config,
               libglib2.0-dev,
               libgtk2.0-dev (>= 2.14),
               libgconf2-dev,
               libgnomeui-dev,
               libgnome-keyring-dev,
               libnotify-dev,
               libunique-dev,
               gnome-doc-utils (>= 0.3.2),
               rarian-compat
Standards-Version: 3.7.2
Vcs-Bzr: http://bazaar.launchpad.net/~deja-dup-team/deja-dup/trunk

Package: deja-dup
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         duplicity (>= 0.5.03)
Recommends: python-boto (>= 0.9d)
Suggests: util-linux (>= 2.13)
Description: Backup utility
 Déjà Dup is a simple backup program. It hides the complexity of
 doing backups the 'right way' (encrypted, off-site) and uses
 duplicity as the backend.

Package: deja-dup-dbg
Architecture: any
Depends: deja-dup (= ${binary:Version})
Priority: extra
Description: Backup utility
 Déjà Dup is a simple backup program. It hides the complexity of
 doing backups the 'right way' (encrypted, off-site) and uses
 duplicity as the backend.
 .
 This package contains gdb debugging symbols for the deja-dup package.
