#!/usr/bin/make -f
# -*- Mode: Makefile; indent-tabs-mode: t; tab-width: 2 -*-

%:
	dh $@ --buildsystem=cmake

override_dh_auto_clean:
	dh_auto_clean
	rm -rf builddir

override_dh_auto_configure:
	dh_auto_configure -- -DENABLE_NAUTILUS=ON \
	                     -DCMAKE_INSTALL_LIBEXECDIR="/usr/lib/${DEB_HOST_MULTIARCH}" \
	                     -DCMAKE_INSTALL_SYSCONFDIR="/etc"

override_dh_installchangelogs:
	dh_installchangelogs NEWS
