#!/usr/bin/make -f
# -*- Mode: Makefile; indent-tabs-mode: t; tab-width: 2 -*-
%:
	dh --with quilt $@

# Don't do anything.  Déjà Dup's automated tests may open windows
override_dh_auto_test:

override_dh_makeshlibs:
	dh_makeshlibs --exclude=libnautilus-deja-dup.so

override_dh_strip:
	dh_strip --dbg-package=deja-dup-dbg
